@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #363B42 #161B22;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #363B42;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #161B22;
  border-radius: 20px;
  border: 1px solid #363B42;
}

*::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #0D1117;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: #161B22;
  color: #828282;
  margin-bottom: 40px;
  height: 80px
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a img {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  width: 30%;
}

.logo {
  color: #828282;
  background-color: #161B22;
  font-weight: 700;

}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #828282;
  
}

.increment-control {
  margin: 0px 10px
}

.form,
.content {
  margin: 0 auto;
  width: 30%;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #363B42;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  background-color: #161B22;
  color: #828282;
}

.form-group input:focus-visible,
.form-group textarea:focus-visible,
.form-group select:focus-visible {
  outline: thin double #6A949E;
}

.form-group .btn-block {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.nav-link {
  text-decoration: none;
}

.btn {
  padding: 5px 10px;
  border: 1px solid ;
  background-color: #0D1117;
  color: #6A949E;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #6A949E;
  color: #ffffff
}

.btn-important {
  background-color: #13233A;
  color: #58A6FF;
}

.btn-important:hover {
  background-color: #58A6FF;
}

.btn-form {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  display: inline-flex;
  width: 100%;
  height: calc(100vh - 160px);
  background-color: #0D1117;
  color: #828282;
}

.game-selector {
  display: flex;
  flex-basis: 30%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  padding: 0px 20px 30px 20px;
  
}

.search-bar {
  width: 100%;
  background-color: #161B22;
  color: #828282;
  height: 1.5rem;
  border-radius: 25px;
  border: 1px solid;
  margin-top: 2px;
  margin-bottom: 8px;
  padding: 0px 5px;
}

.search-bar:focus-visible {
  outline: none;
}

.selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: small;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.selector {
  background-color: #161B22;
  color: #6A949E;
  height: 1.5rem;
  border-radius: 5px ;
  border: 1px solid #363B42;
}

.search-btn {
  height: 1.5rem;
  width: 25%;
}

.gamelist {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.gamecard {
  padding: 20px 20px;
  max-height: 180px;
  border-bottom: 1px solid #363B42;
  overflow: hidden;
}

.gamecard:hover {
  background-color: #161B22;
}

.gamecard-title {
  height: 24px;
  color: #828282;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 12px;
}

.gamecard-description {
  height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gamecard .gamelink {
  text-decoration: none;
}

.game-view {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
} 

.game-view-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.view{
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  padding: 24px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.gameHeaderDetails {
  margin-bottom: 5px;
}

.gameHeaderDetails h1{
  color: #828282;
}

.gameHeaderJoinable {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-btn {
  background-color: none;
  border: none;
  height: 1rem;
  font-size: 1rem;
  padding: 0px;
}

.text-btn:hover {
  background: none;
  border: none;
  height: 1rem;
}

.join-btn {
  color: #3FB950;
  background-color: #161B22;
}

.join-btn:hover {
  background-color: #3FB950;
  color: #ffffff;
}

.inc-btn {
  color: #3FB950;
  background-color: #161B22;
}

.inc-btn:hover {
  background-color: #3FB950;
  color: #ffffff;
}

.game-btn {
  margin: 10px 0px;
}

.table-container {
  height:90%;
  width: 100%;
  overflow:scroll; 
  background-color: #161B22;
  border-radius: 5px;
}

.game-table {
  table-layout: fixed;
  width: 100%;
  /* height: 100%;  */
  text-align: left;
  overflow: scroll;
  background-color: #161B22;
  border-radius: 5px;
}


.game-table thead {
  position: sticky;
  top: 0;
  font-weight: bold;
  height: 50px;
  background-color: #161B22;
  z-index: 1000;
}

td, th {
  width: 180px;
  max-height: 30px;
  overflow: hidden;
}

tr {
  height: 24px;
  max-height: 30px;
}

.date-label {
  position: sticky;
  left: 0;
  background-color: #161B22;
  z-index: 900;
}

.loadingSpinnerContainer {
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* z-index: 5000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
